Source: packagename
Section: web
Priority: optional
Version: 42
Maintainer: Tobias Gesellchen <tobias@gesellix.de>
Homepage: http://www.packagename.de/
Vcs-Git: git://github.com/company/packagename.git
Vcs-Browser: https://github.com/company/packagename
Package: packagename
Architecture: all
Description: Package packagename provides an example of a package.
 And we got some very great detailed description
