Package: packagename
Source: packagename
Version: 42
Section: web
Priority: optional
Architecture: all
Installed-Size: 34
Maintainer: Tobias Gesellchen <tobias@gesellix.de>
Description: Package packagename provides an example of a package.
 And we got some very great detailed description
Homepage: http://www.packagename.de/
